*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: aquamarine;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 576px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
.calc {
  width: 100%;
  border: solid black;
}
.calc-display {
  min-height: 90px;
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.calc-display .previous-operand {
  color: wheat;
  font-size: 1.5em;
}
.calc-display .current-operand {
  color: white;
  font-size: 2em;
}

.calc-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calc-btns button {
  cursor: pointer;
}
.span-btn {
  grid-column: span 2;
}
